pandas>=2.1.0
numpy>=1.26.0
openpyxl
python-dateutil
fastapi>=0.109.0
uvicorn>=0.27.0
pydantic[email]>=2.0.0
python-multipart
sqlalchemy>=2.0.0
psycopg2-binary>=2.9.0
passlib[bcrypt]
bcrypt>=4.0.0,<5.0.0
python-jose[cryptography]
python-dotenv
slowapi

starlette